.game_container {
    background-image: url('../../assets/images/office_background.png');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    animation: slide 3s reverse infinite linear;
    overflow: hidden;
}

.parallax {
    background-image:url('../../assets/images/parallax.png');
    background-repeat: repeat-x;
    background-position-y: 40px;
    background-position: center;
    animation: parallax_animation 8s reverse infinite linear;
}

.score {
    position: absolute;
    color: white;
    margin-left: 15px;
    font-size: 30px;
}

.game_over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


@keyframes slide {
    0% {
        background-position: 0px, 0px
    }
    50% {
        background-position: 450px, 450px
    }
    100% {
        background-position: 900px, 900px
    }
}


@keyframes parallax_animation {
    100% {
        background-position: 900px
    }
}