.container_game {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.game_container {
    background-image: url('../../assets/images/office_background.png');
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
    position: relative;
    animation: slide 50s infinite linear;
    overflow: hidden;
    height: 350px;
    width: 650px;
}

.game_container:active .character{
    
}


.parallax {
    background-image: url('../../assets/images/parallax.png');
    background-repeat: repeat-x;
    background-position-y: 40px;
    animation: parallax_animation 600s infinite linear;
    max-height: 350px;
    max-width: 650px;
}

.score {
    position: absolute;
    color: white;
    margin-left: 15px;
    font-size: 30px;
}

.score p {
    text-shadow: 3px 1px black;
    user-select: none;
}

.is_falling {
    animation: rotateDown 0.2s;
    animation-fill-mode: forwards;
    
}


.tapToStart{
    position: absolute;
    margin-top: 130px;
    margin-left: 170px;
    font-size: 30px;
    color: white;
    text-shadow: 3px 1px black;
}



@keyframes rotateDown {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(35deg)
    }
}


.hp {
    position: absolute;
    color: white;
    margin-left: 450px;
    display: flex;
    align-items: center;
}

.hp p:last-child{
    font-size: 50px;
}

.hp p:first-child{
    text-align: center;
}


.hp p {
    text-shadow: 3px 1px black;
    user-select: none;
}

.game_over {
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.733);
}

.gameOver_message {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes slide {
    from  {background-position: 0%;}
    to  {background-position: 9000%;}
}


@keyframes parallax_animation {
    from  {background-position: 0%;}
    to  {background-position: 9000%;}
}

@keyframes sprite {
    100% {
        background-position: -1000px;
    }
}